In [2]:
import pandas as pd

### 1、练习python列表，字典转series与df

In [ ]:
dic = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(dic)
print(s)
df = pd.DataFrame([dic])
print(df)

a    1
b    2
c    3
dtype: int64
   a  b  c
0  1  2  3

### 2、练习series和df的索引操作

In [ ]:
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s, s.loc['b'], s.iloc[1], s.loc[['a', 'b']], s.iloc[[0, 1]], sep='\n'*2)

a    1
b    2
c    3
dtype: int64

2

2

a    1
b    2
dtype: int64

a    1
b    2
dtype: int64

In [ ]:
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]},
                  index=['001', '002', '003'])
print(df, df.loc['001'], df.loc[['001', '002']], df.iloc[0],
      df.iloc[0:2], sep='\n'*2, end='\n'*2)  # row
print(df['a'], df[['a', 'b']], sep='\n'*2, end='\n'*2)  # col
print(df.iloc[1, 1], df.iloc[[1, 2], [0, 1]])  # loc

     a  b
001  1  4
002  2  5
003  3  6

a    1
b    4
Name: 001, dtype: int64

     a  b
001  1  4
002  2  5

a    1
b    4
Name: 001, dtype: int64

     a  b
001  1  4
002  2  5

001    1
002    2
003    3
Name: a, dtype: int64

     a  b
001  1  4
002  2  5
003  3  6

5      a  b
002  2  5
003  3  6

### 3、完成重复值去除，缺失值删除，缺失值填充练习

In [ ]:
data = {
    'a': ['a1', 'a2', 'a1'],
    'b': ['b1', 'b2', 'b3']
}
df = pd.DataFrame(data)
print(df)

    a   b
0  a1  b1
1  a2  b2
2  a1  b3

In [54]:
d_col_sta = df.duplicated(subset=['a'], keep='first')
print(d_col_sta)
d_col = df.drop_duplicates(subset=['a'], keep='first')
print(d_col)

0    False
1    False
2     True
dtype: bool
    a   b
0  a1  b1
1  a2  b2