In [10]:
import pandas as pd
a = pd.Series([1,2,3],index=['a','b','c'])
b = pd.DataFrame([[1,2,3],[4,5,6]],index=['a','b'],columns=['c','d','e'])
print(a,'\n'*2,b,end = '\n'*2)
print(b['c'])
print(b[['c','d']])
print('*'*20)
print(b.iloc[0])

a    1
b    2
c    3
dtype: int64

    c  d  e
a  1  2  3
b  4  5  6

a    1
b    4
Name: c, dtype: int64
   c  d
a  1  2
b  4  5
********************
c    1
d    2
e    3
Name: a, dtype: int64

In [11]:
b['q'] = [1,2]
print(b)
b['w'] = b['q']+1

   c  d  e  q
a  1  2  3  1
b  4  5  6  2

In [12]:
data = {
"name": ["Alice", "Alice", "Charlie", "David", "Alice",
"Charlie"],
"age": [20, 22, 21, 20, 20, 21],
"score": [85, 90, 78, 92, 85, 78],
"gender": ["女", "男", "男", "男", "女", "男"]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5',
's6'], columns=['name', 'age', 'score', 'gender'])
print("原数据:")
print(df)
# 1. 删除完全重复的行
df_drop_dup = df.drop_duplicates()
print("删除完全重复的行:")
print(df_drop_dup)
# 2. 删除部分列重复的行
df_drop_dup_by_col = df.drop_duplicates(subset=['name'],
keep='first')
print("删除部分列重复的行:")
print(df_drop_dup_by_col)
print(df.info())
print(df_drop_dup_by_col.shape)

原数据:
       name  age  score gender
s1    Alice   20     85      女
s2    Alice   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
s5    Alice   20     85      女
s6  Charlie   21     78      男
删除完全重复的行:
       name  age  score gender
s1    Alice   20     85      女
s2    Alice   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
删除部分列重复的行:
       name  age  score gender
s1    Alice   20     85      女
s3  Charlie   21     78      男
s4    David   20     92      男
<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, s1 to s6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     6 non-null      int64
 2   score   6 non-null      int64
 3   gender  6 non-null      object
dtypes: int64(2), object(2)
memory usage: 412.0+ bytes
None
(3, 4)

In [13]:
import numpy as np
# 1. 创建一个数据表
data = {
"name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
"age": [20, 22, 21, 20, 20, np.nan],
"score": [85, 90, np.nan, 92, 85, np.nan],
"gender": ["女", "男", "男", np.nan, np.nan,np.nan]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5',
's6'], columns=['name', 'age', 'score', 'gender'])
print(df)
# 2. 检测缺失值
print(df.isnull())
# 3. 计算缺失个数
print("每一列缺失个数:")
print(df.isnull().sum())
print("每一行缺失个数:")
print(df.isnull().sum(axis=1))
# 4. 计算缺失率
print("每一列缺失率:")
print(df.isnull().sum() / len(df))
print("每一行缺失率:")
print(df.isnull().sum(axis=1) / len(df.columns))

       name   age  score gender
s1    Alice  20.0   85.0      女
s2      Bob  22.0   90.0      男
s3  Charlie  21.0    NaN      男
s4    David  20.0   92.0    NaN
s5      Eva  20.0   85.0    NaN
s6    Frank   NaN    NaN    NaN
     name    age  score  gender
s1  False  False  False   False
s2  False  False  False   False
s3  False  False   True   False
s4  False  False  False    True
s5  False  False  False    True
s6  False   True   True    True
每一列缺失个数:
name      0
age       1
score     2
gender    3
dtype: int64
每一行缺失个数:
s1    0
s2    0
s3    1
s4    1
s5    1
s6    3
dtype: int64
每一列缺失率:
name      0.000000
age       0.166667
score     0.333333
gender    0.500000
dtype: float64
每一行缺失率:
s1    0.00
s2    0.00
s3    0.25
s4    0.25
s5    0.25
s6    0.75
dtype: float64

In [14]:
df = pd.DataFrame({
    'C': ['a', 'b', 'c', 'd', 'e']
})
print(type(df['C']))

<class 'pandas.core.series.Series'>